<ion-view cache-view="false" view-title="Cordova Bridge Performance Test">
  <ion-content class="content">
  	<p>cordovaTriggerPerformanceTest</p>
	<h1>Forge</h1>
	<h2>Sequential</h2>

	<p id="result">{{result}}</p>

	<p><strong>10 bytes: </strong></p>
	<button ng-click="seq(100, 10);">100 requests</button> 
	<button ng-click="seq(1000, 10);">1000 requests</button> 
	<button ng-click="seq(10000, 10);">10000 requests</button>

	<p><strong>100 bytes: </strong></p>
	<button ng-click="seq(100, 100);">100 requests</button>
	<button ng-click="seq(1000, 100);">1000 requests</button>
	<button ng-click="seq(10000, 100);">10000 requests</button>

	<p><strong>1000 bytes: </strong></p>
	<button ng-click="seq(100, 1000);">100 requests</button>
	<button ng-click="seq(1000, 1000);">1000 requests</button>
	<button ng-click="seq(10000, 1000);">10000 requests</button>

	<p><strong>10000 bytes: </strong></p>
	<button ng-click="seq(100, 10000);">100 requests</button>
	<button ng-click="seq(1000, 10000);">1000 requests</button>
	<button ng-click="seq(10000, 10000);">10000 requests</button>
	
	<h2>Concurrent</h2>
	<p><strong>10 bytes: </strong></p>
	<button ng-click="con(100, 10);">100 requests</button> 
	<button ng-click="con(1000, 10);">1000 requests</button>
	<button ng-click="con(10000, 10);">10000 requests</button>

	<p><strong>100 bytes: </strong></p>
	<button ng-click="con(100, 100);">100 requests</button> 
	<button ng-click="con(1000, 100);">1000 requests</button>
	<button ng-click="con(10000, 100);">10000 requests</button>

	<p><strong>1000 bytes: </strong></p>
	<button ng-click="con(100, 1000);">100 requests</button> 
	<button ng-click="con(1000, 1000);">1000 requests</button>
	<button ng-click="con(10000, 1000);">10000 requests</button>

	<p><strong>10000 bytes: </strong></p>
	<button ng-click="con(100, 10000);">100 requests</button> 
	<button ng-click="con(1000, 10000);">1000 requests</button>
	<button ng-click="con(10000, 10000);">10000 requests</button>
  </ion-content>
</ion-view>
